@model List<Factory.Models.Machine>

@{
    ViewData["Title"] = "Machines List";
}

<div class="d-flex p-3">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addMachineModal">Add Machine</button>
</div>

<div class="container mt-3">
    <div class="row">
        @foreach (var machine in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">@machine.Name</h5>
                        <p class="card-text">@machine.Description</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="@Url.Action("Details", new { id = machine.MachineId })" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<div class="modal fade" id="addMachineModal" tabindex="-1" aria-labelledby="addMachineModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addMachineModalLabel">Add Machine</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="Create" method="post">
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input type="text" class="form-control" id="Name" name="Name" required>
                    </div>

                    <div class="form-group">
                        <label for="Description">Description</label>
                        <textarea type="text" class="form-control" id="Description" name="Description" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Machine</button>
                </form>
            </div>
        </div>
    </div>
</div>
