@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Dr. Sillystringz's Factory</h1>
    <p>Manage your machine repairs with our application.</p>
    <div class="mt-4">
        <a class="btn btn-primary btn-lg mr-3" asp-area="" asp-controller="Engineers" asp-action="Index">View Engineers</a>
        <a class="btn btn-success btn-lg" asp-area="" asp-controller="Machines" asp-action="Index">View Machines</a>
    </div>
</div>
